apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextjs
  template:
    metadata:
      labels:
        app: nextjs
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: nextjs
          image: ghcr.io/atakowiec/portfolio-frontend:latest
          ports:
            - containerPort: 3000
          env:
            - name: STRAPI_URL
              value: https://strapi.cieszczyk.pl
            - name: STRAPI_TOKEN
              valueFrom:
                secretKeyRef:
                  name: portfolio-secrets
                  key: STRAPI_TOKEN