.backgroundEffectContainer {
  position: absolute;
  width: 100vw;
  height: 130vh;
  z-index: -1;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0, 0) 90%, var(--color-primary) 100%);
  }

  .node {
    position: absolute;
    width: 0;
    height: 0;
  }
}

@keyframes moveAlongCurve {
  0% {
    offset-distance: 0;
    opacity: 0;
  }
  10% {
    offset-distance: 10%;
    opacity: 1;
  }
  90% {
    offset-distance: 90%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}